@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(90deg, #cf5df8 0%, #ba26ff 50%, rgb(153, 89, 202) 100%); */
}

.container-login {
    width: 90vw;
    max-width: 50rem;
    /* background-color: aliceblue; */
    border-radius: 1rem;
    padding: 3rem;
    /* box-shadow: 5px 5px #ce80f1, 0px 20px 60px #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-login img {
    width: 10rem;
    margin: 0 auto;
    user-select: none;
}

.container-login .title {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0;
}

.container-login .form {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.container-login .form .box-input {
    width: 100%;
    height: 6rem;
    margin-bottom: 5rem;
    position: relative;
}

.container-login .form .box-input label {
    font-size: 2rem;
    display: block;
    margin: .4rem 0;
    font-weight: 500;
}

.container-login .form .box-input input {
    font-size: 2.4rem;
    width: 100%;
    height: 100%;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 2px solid #000;
    padding: 1rem 4rem .1rem 4rem;
}

.container-login .form .box-input img {
    width: 2.4rem;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-15%);
}

.container-login .form .box-input img.ver-password {
    right: 10px;
    cursor: pointer;
}

.container-login .box-button {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login .box-button button {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #d7b8e6;
    color: aliceblue;
    cursor: pointer;
}

.container-login .box-button button:hover {
    background-color: #ba26ff;
}