@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #fff;
    padding: 0 10px;
}

body .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('/frontend/assets/img/bg-body.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home {
    width: 100%;
    max-width: 900px;
}

.home h1 {
    font-size: 7rem;
    margin: 30px 0 0;
    text-align: center;
    text-shadow: 2px 2px 1px #00000067;
    line-height: 80px;
}

.home>p {
    text-align: center;
}

.home .paragrafo {
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    top: -100px;
    text-shadow: 0 0 5px #0000004b;
}

.home .descricao {
    text-shadow: 0 0 5px #0000004b;
    font-size: 1.8rem;
    margin: -10px auto 10px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 80%;
}

.container-valores {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0;
}

.valor-pontos {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #000;
    text-align: center;
    align-content: center;
    box-shadow: 2px 2px #000;
}

.valor-pontos h2 {
    font-size: 2.8rem;
    margin: 10px 0;
}

.valor-pontos p {
    font-size: 1.6rem;
}

.premio {
    width: 250px;
    height: 250px;
    margin: 0 20px;
    border-radius: 50%;
    background: linear-gradient(120deg, #d662ff 0%, #ba26ff 50%, #6d1d92 100%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px -2px #fff, -15px -2px 50px #0000003b;
    filter: drop-shadow(0 0 20px #d662ff);

}

.premio p {
    font-size: 2.4rem;
    font-weight: 300;
}

.premio h3 {
    font-size: 4.8rem;
    margin: 20px;
    text-shadow: 1px 3px 1px #00000093;
}

.container-input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-input h2 {
    font-size: 2.4rem;
    margin: 20px 0;
    text-transform: uppercase;
}

.container-input .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0px 20px;
}

.container-input .form p {
    width: 100%;
}

.container-input .form p:first-child {
    margin-right: 20px;
}

.container-input .form p:last-child {
    margin-left: 20px;
}

.container-input .form p input {
    width: 100%;
    height: 80px;
    padding: 0 10px;
    font-size: 2.4rem;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
}

.container-input p span {
    font-size: 1.8rem;
}

.container-input .form p input::placeholder {
    font-size: 2rem;
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    margin-top: 5px;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.tabela {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 14px;
    width: 100%;
    max-width: 900px;
    padding: 14px;
    margin: 5px 0 20px 0;
    background-color: #dabbf5;
    border-radius: 5px;
}

.numero {
    aspect-ratio: 1 / 1;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 700;
    background: #f2f2f2;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #000;
    user-select: none;
}

.numero.selecionado {
    background: #b8ee3b;
    color: white;
}

.numero.vendido {
    background: #f57b3594;
    cursor: not-allowed;
    color: #f1d2d2;
}

.info {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 2rem;
}

.confirmar {
    margin: 10px 0px 50px;
    padding: 10px 20px;
    width: 100%;
    max-width: 600px;
    height: 80px;
    border-radius: 5px;
    font-size: 2.4rem;
    text-transform: uppercase;
    background-color: rgb(247, 156, 92);
    cursor: pointer;
    color: #fff;
}

#paginaAtual {
    color: #000000;
    font-weight: 500;
}

.paginacao {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paginacao h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: sans-serif;
}

.paginacao button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 4px;
}

.paginacao .btn-1.selecionado, .paginacao .btn-2.selecionado {
    background-color: #9e52e0;
    color: #fff;
    box-shadow: inset 1px 1px 2px 0px #000;
}

.paginacao span {
    font-size: 2rem;
    margin: 0 10px;
}

.valor-total {
    text-align: center;
    margin-bottom: 40px;
}

.valor-total span {
    font-size: 3rem;
}

footer p {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.container-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #0000008f;
    display: none;
    justify-content: center;
    align-items: center;
}

.container-modal .modal {
    position: relative;
    width: 90vw;
    max-width: 600px;
    height: 220px;
    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container-modal .modal .message {
    color: rgb(0, 0, 0);
    font-family: system-ui;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.container-modal .modal .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    padding: 5px;
    font-size: 3rem;
    background: none;
    cursor: pointer;
    font-weight: 300;
}

.no-scroll {
    overflow: hidden;
}

.tabela.loading {
    grid-template-columns: 1fr;
}

.loading {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 767px) {

    .home {
        max-width: 90vw;
    }

    .home .paragrafo {
        font-size: 1.6rem;
    }

    .container-input .form {
        margin-bottom: 0;
        min-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container-input p {
        min-width: 100%;
        margin-bottom: 10px;
    }

    .container-input p:first-child {
        margin-right: 0 !important;
    }

    .container-input p:last-child {
        margin-left: 0 !important;
    }

    .container-input p input {
        width: 100%;
        font-size: 1.8rem;
    }

    .container-input p input::placeholder {
        font-size: 1.6rem;
    }

    .tabela {
        width: 90vw;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
    }

    .numero {
        font-size: 1.8rem;
    }

    .confirmar {
        width: 90vw;
        font-size: 2rem;
    }

}

@media (max-width: 425px) {

    .home .descricao {
        font-size: 1.6rem;
        width: 100%;
    }

    .valor-pontos {
        width: 125px;
        height: 125px;
    }

    .premio {
        width: 225px;
        height: 225px;
    }

    .premio h3 {
        font-size: 4.4rem;
    }

    .tabela {
        gap: 4px;
    }

    .numero {
        aspect-ratio: 1;
        min-height: 34px;
        font-size: 1.6rem;
    }

    .container-btns {
        margin: 10px 0;
    }

    .paginacao span {
        font-size: 2rem;
    }

    .paginacao button {
        margin: 0 10px;
        font-size: 2rem;
    }
}

@media (max-width: 376px) {
    .valor-pontos {
        width: 100px;
        height: 100px;
    }

    .premio {
        width: 200px;
        height: 200px;
    }

    .premio h3 {
        font-size: 3.8rem;
    }
}

@media (max-width: 321px) {

    .home h1 {
        font-size: 5rem;
    }

    .home .descricao {
        font-size: 1.4rem;
        width: 100%;
    }

    .valor-pontos {
        width: 100px;
        height: 100px;
    }

    .premio {
        width: 160px;
        height: 160px;
    }

    .premio h3 {
        font-size: 3rem;
    }
}