@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-pagamento {
    max-width: 800px;
    width: 90vw;
    height: 100%;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container-qrcode {
    background-color: #820AD1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
}

.container-qrcode h1 {
    margin-bottom: 10px;
    text-align: center;
}

.container-qrcode p {
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
}

.container-qrcode .qrcode {
    margin: 20px 0;
    padding: 1rem;
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.container-qrcode .qrcode img {
    width: 100%;
}

.container-qrcode .valor {
    margin: 10px 0 20px;
    font-size: 1.6rem;
    font-weight: 300;
}

.container-qrcode .valor .preco {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.container-qrcode .copy-icon {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.copy-icon::after {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding-left: 10px;
    vertical-align: top;
    content: url(/img/copy-outline.svg);
}


.chave-aleatoria::after {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    padding-bottom: 2px;
    padding-left: 5px;
    content: url(/img/copy-outline.svg);
}

.container-dados-pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
}

.container-dados-pix h2 {
    margin: 2.5rem;
    font-size: 1.6rem;
    font-weight: 400;
}

.container-dados-pix hr {
    border: 1px solid #eee;
    width: 100%;
    margin-bottom: 20px;
}

.container-dados-pix .dados {
    width: 100%;
}

.container-dados-pix .dados div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.container-dados-pix .dados div p {
    font-weight: 600;
}

.container-dados-pix .logo-nubank {
    width: 30px;
    margin-bottom: 10px;
}

.container-pagamento p:last-child {
    text-align: center;
    padding: 0 10px;
}

footer p {
    font-size: 1.4rem;
    text-align: center;
    margin: 20px 0;
    padding: 0 10px;

}

@media (max-width: 425px) {

    .container-pagamento {
        margin-top: 20px;
    }

    .container-qrcode h1 {
        font-size: 1.6rem;
    }

    .container-qrcode p {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .container-qrcode .qrcode {
        width: 150px;
        height: 150px;
    }

    .container-qrcode .valor {
        font-size: 1.4rem;
    }

    .container-qrcode .valor .preco {
        font-size: 1.6rem;
    }

    .container-qrcode .copy-icon {
        font-size: 1.2rem;
    }

    .copy-icon::after {
        width: 15px;
        height: 15px;
    }


    .container-dados-pix {
        max-width: 300px;
    }

    .container-dados-pix h2 {
        margin: 2rem;
        font-size: 1.4rem;
    }

    .container-dados-pix .dados div {
        margin-bottom: 8px;
        font-size: 1.4rem;
    }

    .container-dados-pix .logo-nubank {
        width: 25px;
    }

    .container-pagamento p:last-child {
        text-align: center;
    }

    footer p {
        font-size: 1.2rem;
    }


}