@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(185, 137, 228, 1) 0%, rgba(172, 102, 237, 1) 50%, rgb(153, 89, 202) 100%);
    color: #fff;
    padding: 0 10px;
}

.home {
    width: 800px;
}

.info {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 2rem;
}

.home h1 {
    font-size: 4rem;
    margin: 30px 0 0;
    text-align: center;
}

.home>p {
    text-align: center;
}

.home .paragrafo {
    font-size: 1.8rem;
}

.home .descricao {
    font-size: 2rem;
    margin: 10px 0;
}

.container-valores {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valor-pontos {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #000;
    text-align: center;
    align-content: center;
}

.valor-pontos span {
    font-size: 2rem;
}

.valor-pontos h3, .valor-pontos p {
    font-size: 1.4rem;
}

.premio {
    width: 150px;
    height: 150px;
    margin: 0 20px;
    border-radius: 50%;
    background-color: #f2f2f2;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.premio p, .premio span {
    font-size: 1.6rem;
}

.premio h3 {
    font-size: 2.8rem;
}

.container-input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-input h2 {
    font-size: 2.4rem;
    margin: 3rem 0 0;
}

.container-input .form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.container-input .form p {
    width: 300px;
}

.container-input .form p input {
    width: 100%;
    height: 80px;
    padding: 0 10px;
    font-size: 2.4rem;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
}

.container-input p span {
    font-size: 1.8rem;
}

.container-input .form p input::placeholder {
    font-size: 1.6rem;
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
}

p.text {
    margin-top: 5px;
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tabela {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 14px;
    width: 100%;
    max-width: 900px;
    padding: 14px;
    margin: 5px 0 20px 0;
    background-color: #dabbf5;
    border-radius: 5px;
}

.numero {
    aspect-ratio: 1 / 1;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: 700;
    background: #f2f2f2;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #000;
    user-select: none;
}

.numero.selecionado {
    background: #b8ee3b;
    color: white;
}

.numero.vendido {
    background: #f57b3594;
    cursor: not-allowed;
    color: #f1d2d2;
}

.confirmar {
    margin: 10px 0px 50px;
    padding: 10px 20px;
    width: 100%;
    max-width: 600px;
    height: 80px;
    border-radius: 5px;
    font-size: 2.4rem;
    text-transform: uppercase;
    background-color: rgb(247, 156, 92);
    cursor: pointer;
    color: #fff;
}

#paginaAtual {
    color: #000;
    font-weight: bold;
}

.paginacao {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginacao button {
    margin: 10px;
    width: 80px;
    height: 50px;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 4px;
}

.paginacao span {
    font-size: 2rem;
    margin: 0 10px;
}

.valor-total {
    text-align: center;
    margin-bottom: 40px;
}

.valor-total span {
    font-size: 2.6rem;
}

@media (max-width: 767px) {

    .home {
        max-width: 90vw;
    }

    .home h1 {
        font-size: 3.6rem;
    }

    .home .paragrafo {
        font-size: 1.6rem;
    }

    .container-input .form {
        margin-bottom: 0;
        min-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container-input p {
        min-width: 100%;
        margin-bottom: 10px;
    }

    .container-input p input {
        width: 100%;
        font-size: 1.8rem;
    }

    .container-input p input::placeholder {
        font-size: 1.6rem;
    }

    .tabela {
        width: 90vw;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
    }

    .numero {
        font-size: 1.8rem;
    }

    .confirmar {
        width: 90vw;
        font-size: 2rem;
    }

}

@media (max-width: 425px) {

    .container-valores {
        display: flex;
        justify-content: flex-end;
    }

    .tabela {
        gap: 4px;
    }

    .numero {
        aspect-ratio: 1;
        min-height: 34px;
        font-size: 1.6rem;
    }

    .paginacao span {
        font-size: 2rem;
    }

    .paginacao button {
        margin: 0 10px;
        font-size: 2rem;
    }

}